.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 615px;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 1024px) {
  .lead__image {
    max-height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    max-height: 200px;
  }
}